<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,224},{37,11}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{37,11}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,132},{37,11}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{37,11}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,43},{39,33}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,33}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{39,33}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,33}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,125},{39,35}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{39,35}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,84},{39,35}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{39,35}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>about-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,226},{37,20}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,9},{37,20}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,162},{39,22}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{39,22}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>bisha.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,275},{47,45}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{47,45}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>bisha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,295},{47,47}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{47,47}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>cancle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,219},{53,27}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{53,27}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>cancle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,190},{53,27}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{53,27}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>chat-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{92,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{92,44}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,57},{104,51}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{104,51}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>create-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,112},{94,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{94,46}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>create.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{106,53}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{106,53}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>exec-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,161},{53,27}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{53,27}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>exec-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,132},{53,27}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{53,27}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>exit-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,180},{90,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{90,44}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,110},{100,51}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{100,51}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>huanxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,344},{45,47}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{45,47}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>huanxian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,275},{45,49}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>intro-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,206},{77,20}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{77,20}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>intro.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,160},{79,22}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{79,22}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>jion-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{94,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{94,44}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>jion.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,57},{104,53}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{104,53}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>liaotian.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,463},{45,45}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>liaotian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{45,47}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{45,47}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>move.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,416},{45,45}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,248},{45,49}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>net-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,184},{77,20}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{77,20}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>net.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{79,22}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{79,22}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>qigong.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,322},{45,47}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{45,47}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>qigong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,226},{47,49}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{47,49}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,299},{45,47}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{45,47}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>quan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,228},{45,49}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>ready-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,132},{92,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{92,46}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{104,53}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{104,53}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>shan.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,272},{41,47}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{41,47}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>shan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,248},{43,49}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{43,49}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>shuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{45,45}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>shuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,228},{45,49}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>story-un.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,160},{79,20}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{79,20}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>story.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{79,22}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{79,22}}</string>
                <key>sourceSize</key>
                <string>{129,48}</string>
            </dict>
            <key>textBackGroud-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>textBackGroud.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{45,45}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>you2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{45,49}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,369},{45,45}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>zuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{45,49}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{45,49}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuButton.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f575f610fe6109ff0caafbbf2de5b75e$</string>
            <key>textureFileName</key>
            <string>menuButton.png</string>
        </dict>
    </dict>
</plist>
