<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1375.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{161,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,216}}</string>
                <key>sourceSize</key>
                <string>{161,216}</string>
            </dict>
            <key>1376.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{138,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,216}}</string>
                <key>sourceSize</key>
                <string>{138,216}</string>
            </dict>
            <key>1377.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,218},{102,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,216}}</string>
                <key>sourceSize</key>
                <string>{102,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battalGirl-qingzhu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58498cfee86e8d6d46837bc5c9d3fdf6$</string>
            <key>textureFileName</key>
            <string>battalGirl-qingzhu.png</string>
        </dict>
    </dict>
</plist>
