<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1349.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,205}}</string>
                <key>sourceSize</key>
                <string>{133,205}</string>
            </dict>
            <key>1350.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{152,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,218}}</string>
                <key>sourceSize</key>
                <string>{152,218}</string>
            </dict>
            <key>1351.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,0},{207,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,230}}</string>
                <key>sourceSize</key>
                <string>{207,230}</string>
            </dict>
            <key>1352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{161,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,232}}</string>
                <key>sourceSize</key>
                <string>{161,232}</string>
            </dict>
            <key>1353.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,232},{145,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,186}}</string>
                <key>sourceSize</key>
                <string>{145,186}</string>
            </dict>
            <key>1354.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,232},{164,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,195}}</string>
                <key>sourceSize</key>
                <string>{164,195}</string>
            </dict>
            <key>1355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{152,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,179}}</string>
                <key>sourceSize</key>
                <string>{152,179}</string>
            </dict>
            <key>1356.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,466},{139,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,181}}</string>
                <key>sourceSize</key>
                <string>{139,181}</string>
            </dict>
            <key>1357.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,466},{137,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,183}}</string>
                <key>sourceSize</key>
                <string>{137,183}</string>
            </dict>
            <key>1358.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,651},{106,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,217}}</string>
                <key>sourceSize</key>
                <string>{106,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battalGirl-qigong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ad55dbc3e62a667eac64328a2dbd965$</string>
            <key>textureFileName</key>
            <string>battalGirl-qigong.png</string>
        </dict>
    </dict>
</plist>
