<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,228}}</string>
                <key>sourceSize</key>
                <string>{127,228}</string>
            </dict>
            <key>1302.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{115,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,223}}</string>
                <key>sourceSize</key>
                <string>{115,223}</string>
            </dict>
            <key>1303.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{213,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,234}}</string>
                <key>sourceSize</key>
                <string>{213,234}</string>
            </dict>
            <key>1304.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{285,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,228}}</string>
                <key>sourceSize</key>
                <string>{285,228}</string>
            </dict>
            <key>1305.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{252,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,219}}</string>
                <key>sourceSize</key>
                <string>{252,219}</string>
            </dict>
            <key>1306.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,466},{236,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,210}}</string>
                <key>sourceSize</key>
                <string>{236,210}</string>
            </dict>
            <key>1307.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,687},{155,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,212}}</string>
                <key>sourceSize</key>
                <string>{155,212}</string>
            </dict>
            <key>1308.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,687},{133,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,219}}</string>
                <key>sourceSize</key>
                <string>{133,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battalGirl-kick.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508c4af992e0d9ea572084c1ab2fe562$</string>
            <key>textureFileName</key>
            <string>battalGirl-kick.png</string>
        </dict>
    </dict>
</plist>
