<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1309.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{93,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,273}}</string>
                <key>sourceSize</key>
                <string>{93,273}</string>
            </dict>
            <key>1310.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{80,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,235}}</string>
                <key>sourceSize</key>
                <string>{80,235}</string>
            </dict>
            <key>1311.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{102,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,202}}</string>
                <key>sourceSize</key>
                <string>{102,202}</string>
            </dict>
            <key>1312.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{161,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,157}}</string>
                <key>sourceSize</key>
                <string>{161,157}</string>
            </dict>
            <key>1313.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,0},{165,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,131}}</string>
                <key>sourceSize</key>
                <string>{165,131}</string>
            </dict>
            <key>1314.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,0},{177,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,155}}</string>
                <key>sourceSize</key>
                <string>{177,155}</string>
            </dict>
            <key>1315.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{153,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,231}}</string>
                <key>sourceSize</key>
                <string>{153,231}</string>
            </dict>
            <key>1316.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,275},{123,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,196}}</string>
                <key>sourceSize</key>
                <string>{123,196}</string>
            </dict>
            <key>1317.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,275},{158,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,177}}</string>
                <key>sourceSize</key>
                <string>{158,177}</string>
            </dict>
            <key>1318.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,275},{145,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,193}}</string>
                <key>sourceSize</key>
                <string>{145,193}</string>
            </dict>
            <key>1319.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,275},{192,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,143}}</string>
                <key>sourceSize</key>
                <string>{192,143}</string>
            </dict>
            <key>1320.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,275},{170,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,246}}</string>
                <key>sourceSize</key>
                <string>{170,246}</string>
            </dict>
            <key>1321.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,275},{192,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,177}}</string>
                <key>sourceSize</key>
                <string>{192,177}</string>
            </dict>
            <key>1322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,523},{172,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,168}}</string>
                <key>sourceSize</key>
                <string>{172,168}</string>
            </dict>
            <key>1323.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,523},{145,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,162}}</string>
                <key>sourceSize</key>
                <string>{145,162}</string>
            </dict>
            <key>1324.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,523},{132,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,167}}</string>
                <key>sourceSize</key>
                <string>{132,167}</string>
            </dict>
            <key>1325.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,523},{133,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,219}}</string>
                <key>sourceSize</key>
                <string>{133,219}</string>
            </dict>
            <key>1326.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,523},{153,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,237}}</string>
                <key>sourceSize</key>
                <string>{153,237}</string>
            </dict>
            <key>1327.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,523},{152,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,249}}</string>
                <key>sourceSize</key>
                <string>{152,249}</string>
            </dict>
            <key>1328.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{207,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,85}}</string>
                <key>sourceSize</key>
                <string>{207,85}</string>
            </dict>
            <key>1329.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,774},{181,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,71}}</string>
                <key>sourceSize</key>
                <string>{181,71}</string>
            </dict>
            <key>1330.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,774},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,71}}</string>
                <key>sourceSize</key>
                <string>{200,71}</string>
            </dict>
            <key>1331.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,774},{183,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,110}}</string>
                <key>sourceSize</key>
                <string>{183,110}</string>
            </dict>
            <key>1332.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,774},{155,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,156}}</string>
                <key>sourceSize</key>
                <string>{155,156}</string>
            </dict>
            <key>1333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{147,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,203}}</string>
                <key>sourceSize</key>
                <string>{147,203}</string>
            </dict>
            <key>1334.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,932},{173,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,227}}</string>
                <key>sourceSize</key>
                <string>{173,227}</string>
            </dict>
            <key>1335.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,932},{129,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,227}}</string>
                <key>sourceSize</key>
                <string>{129,227}</string>
            </dict>
            <key>1336.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,932},{204,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,164}}</string>
                <key>sourceSize</key>
                <string>{204,164}</string>
            </dict>
            <key>1337.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,932},{184,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{184,169}</string>
            </dict>
            <key>1338.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,932},{167,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,214}}</string>
                <key>sourceSize</key>
                <string>{167,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battalGirl-avoid.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a70d848d648c4bb3222dfc4efaffa551$</string>
            <key>textureFileName</key>
            <string>battalGirl-bisha.png</string>
        </dict>
    </dict>
</plist>
