<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{161,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,157}}</string>
                <key>sourceSize</key>
                <string>{161,157}</string>
            </dict>
            <key>1313.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{165,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,131}}</string>
                <key>sourceSize</key>
                <string>{165,131}</string>
            </dict>
            <key>1314.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{177,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,155}}</string>
                <key>sourceSize</key>
                <string>{177,155}</string>
            </dict>
            <key>1315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{207,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,85}}</string>
                <key>sourceSize</key>
                <string>{207,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battalGirl-dead.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddfcb9e68c90af9f6e22d17d48a19d7c$</string>
            <key>textureFileName</key>
            <string>battalGirl-dead.png</string>
        </dict>
    </dict>
</plist>
