<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1296.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,189}}</string>
                <key>sourceSize</key>
                <string>{127,189}</string>
            </dict>
            <key>1297.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{155,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,217}}</string>
                <key>sourceSize</key>
                <string>{155,217}</string>
            </dict>
            <key>1298.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{138,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,227}}</string>
                <key>sourceSize</key>
                <string>{138,227}</string>
            </dict>
            <key>1299.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,229},{145,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,226}}</string>
                <key>sourceSize</key>
                <string>{145,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battalGirl-avoid2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a6c01304e4bd67b035535c35d293f64$</string>
            <key>textureFileName</key>
            <string>battalGirl-avoid2.png</string>
        </dict>
    </dict>
</plist>
