<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,274}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{181,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,278}}</string>
                <key>sourceSize</key>
                <string>{181,278}</string>
            </dict>
            <key>0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{170,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,275}}</string>
                <key>sourceSize</key>
                <string>{170,275}</string>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,0},{170,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,269}}</string>
                <key>sourceSize</key>
                <string>{170,269}</string>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,0},{180,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,266}}</string>
                <key>sourceSize</key>
                <string>{180,266}</string>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{183,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,268}}</string>
                <key>sourceSize</key>
                <string>{183,268}</string>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,280},{181,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,271}}</string>
                <key>sourceSize</key>
                <string>{181,271}</string>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,280},{181,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,275}}</string>
                <key>sourceSize</key>
                <string>{181,275}</string>
            </dict>
            <key>0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,280},{172,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,272}}</string>
                <key>sourceSize</key>
                <string>{172,272}</string>
            </dict>
            <key>0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,280},{174,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,268}}</string>
                <key>sourceSize</key>
                <string>{174,268}</string>
            </dict>
            <key>0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,557},{190,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,268}}</string>
                <key>sourceSize</key>
                <string>{190,268}</string>
            </dict>
            <key>0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,557},{191,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,271}}</string>
                <key>sourceSize</key>
                <string>{191,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>myrole.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b8ead0856860230aa484a301c4476d5$</string>
            <key>textureFileName</key>
            <string>myrole.png</string>
        </dict>
    </dict>
</plist>
