<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xue.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{213,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,10}}</string>
                <key>sourceSize</key>
                <string>{213,10}</string>
            </dict>
            <key>xuecao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,47}}</string>
                <key>sourceSize</key>
                <string>{267,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tool.png</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f5969039df97b1499edaa83c41943e4$</string>
            <key>textureFileName</key>
            <string>tool.png</string>
        </dict>
    </dict>
</plist>
